/* fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;800&family=Poppins&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --pr-color: #B68C5A;
    --font-color: #707070;

    --pr-font: 'EB Garamond', serif;
    --se-font: 'Poppins', sans-serif;
}

/*---------------- Custom CSS/Uitilites/Common styles -----------------*/
.section-padding-top-bottom {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title-head-text {
    font-family: var(--pr-font);
}

.secondery-font {
    font-family: var(--se-font);
}

.primary-color {
    color: var(--pr-color);
}

.common-button {
    background-color: var(--pr-color);
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    font-family: var(--se-font);
}

.common-paragraph {
    color: var(--font-color);
    font-size: .80rem;
    font-family: var(--se-font);
    font-weight: 400;
}

/*-----------------------------------------------------------
                    Header section
-------------------------------------------------------------*/

/*-----------------------------------------------------------
                    Main section
-------------------------------------------------------------*/
.overlay {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(34, 31, 31));
}

/* legal practice section */
.legal-top-section-hover:hover {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(34, 31, 31, 0.26));
}

.legal-bottom-section-hover:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(34, 31, 31, 0.26));
}

/* Review section */
.carousel-item>img {
    height: 70vh;
}

.banner-image-one {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), rgb(0, 0, 0)), url(../images/Rectangle\ 4.png);
    height: 70vh;
    width: 100%;
}

.banner-image-two {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), rgb(0, 0, 0)), url(../images/closeup-gavel-judgement-concept.jpg);
    height: 70vh;
    width: 100%;
}

.banner-image-three {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), rgb(0, 0, 0)), url(../images/law-justice-concept-dark-background.jpg);
    height: 70vh;
    width: 100%;
}

/* carousal */
.carousel-caption>img {
    border: 3px solid var(--pr-color);
}

/*-----------------------------------------------------------
                    Footer section
-------------------------------------------------------------*/


/*-----------------------------------------------------------
-------------------   Midea Quries   ------------------------
-------------------------------------------------------------*/
/* for x-small devices */
@media screen and (max-width: 577px) {

    /* navbar */
    .navbar-collapse>.common-button {
        display: none;
    }

    /* banner */
    .banner>img {
        height: 70vh;
        width: 100%;
    }

    .overlay:not(h1) {
        font-size: 12px;
    }
}